.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  position: relative;
  flex-shrink: 0;
  z-index: 101;
  background-color: #fff !important;
}

.document-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  background-color: #fff;
  flex-shrink: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.editor-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 2em 0;
}

.editor-container > .cm-editor {
  height: 100%;
}

.cm-scroller {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  width: 60ch;
  min-width: 60ch;
  max-width: 60ch;
  height: 100%;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cm-editor.cm-focused {
  outline: none;
}

.preview-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  padding: 20px 0;
  width: 50%;
  border-left: 1px solid #eee;
}

.cm-character {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
