.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f8f9fa;
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.editor {
  flex: 1 1 0%; /* flex-grow, flex-shrink, flex-basis */
  padding: 20px;
  max-width: 60ch;
}

.editor textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #ccc;
}

.fountain-preview-pane {
  flex: 1 1 0%; /* flex-grow, flex-shrink, flex-basis */
  padding: 20px;
  border-left: 1px solid #eee;
  overflow-y: auto;
  font-family: 'Courier New', Courier, monospace;
  max-width: 60ch;
}

.scene-heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.character {
  text-align: center;
  margin-left: 15ch;
  margin-right: 15ch;
}

.dialogue {
  margin-left: 11ch;
  margin-right: 10ch;
  max-width: 34ch;
  word-break: break-word;
}

.parenthetical {
  text-align: center;
  margin-left: 13ch;
  margin-right: 13ch;
}

.transition {
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.action {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar {
  position: relative;
}

.document-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
